html {
    font-family: sans-serif;
    font-size: 20px; 
  }
body{
background-color:azure;
}
main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    font-family: 'Open Sans', sans-serif;
  }
  img{
    margin: 40px;
     width:170px;
     height:130px;
     border: 3px;
     padding: 10px;
     border-color: black;
      border-style: solid;
    }
    
    